body {
    background-color: #ffd9ff;
    font-family: Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    color: rgb(6, 6, 6);
}

.new{
    padding:2%;
    color:#000e47;
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2%;
    background-color: #000e47;
    color: #000e47;
}

.blog-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffd9ff;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fba1fb;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem;
}

.category {
    float: left;
    padding: 0.5rem;
}