body {
    background-color: rgb(51,112,117);
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(6, 6, 6);
}

.tempclasssad {
    position: relative;
    margin-top: 10%;
    padding: 10%;
}

