nav{
  background-color: #000e47;
  overflow: hidden;
  display:block;
  align-items:center;
  padding: 15px;
}

nav a{
  font-family: Verdana, sans-serif;
  color: #EBF3F9;
  text-decoration: none;
  padding: 10px 20px;

}
nav a:hover {
  background-color: #FFB1E2;
  color: #000e47;
}

nav a.active {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

nav .burger {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(.active) {display: none;}
  .nav a.burger {
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav a{
    float: none;
    display: flex;
    flex-direction: row;
  }
  .nav{
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .verticalnav {position: relative;}
  .verticalnav a.burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .verticalnav a {
    float: none;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.fa, .fas, .fab, .fa-solid, .fa-brands {
    font-family: "Font Awesome 7 Free" !important;
}